html, body {
    min-height: 100%;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

#logo, #footer{
    width: 100%;
    height: 100px; 
    line-height: 100px;
    text-align: center;
    background-color: #012b01;
    color: #ffffff; 
}

#logo{    
    font-size: larger;
}

#center{
    font-size:medium;   
}

#footer{    
    bottom: 0;
    position: absolute;    
    font-size:small;        
}
