html, body {
    min-height: 100%;
   
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    
    background-image: url(https://logodownload.org/wp-content/uploads/2015/05/palmeiras-logo-0.png);
    background-color: #9fbd9f;
    background-size: 100%;   
    background-blend-mode:overlay;
}

#logo, #footer{
    width: 100%;
    height: 100px; 
    line-height: 100px;
    text-align: center;
    background-color: #012b01;
    color: #ffffff; 
}

#logo{    
    font-size: larger;
}

#center{
    font-size:medium;   
}

#footer{    
    bottom: 0;
    position: absolute;    
    font-size:small;        
}
