body {
    width: 100%;
    background-color: #ececec;
}

#logo{
    font-size: larger;
}

#center{
    font-size:medium;
}

#footer{    
    bottom: 0;
    position: absolute;
    font-size:small;    
    background-color: #aeb1ae;
}
