body{    
    margin: 0;
    background-color: rgb(2, 2, 2);
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(141, 255, 75);    
    display:flex;/*modulos para o HUD, botões e o da cena do jogo*/ 
    justify-content: center;   
}
#screen, #hud{
    border: 1px solid rgb(141, 255, 75);
    box-sizing: border-box;/* que considera os valores das propriedades ´border´ e ´padding´ para calcular o tamanho que o elemento ocupa na tela*/
}

#hud{
    text-align: left;    
    padding: 10px;
}

#screen {
    
    width: 100vw;
    max-width: 100vh;
    max-height: 100vw;/*vh*/
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;                    
}

@media only screen and (orientation: landscape) { /* CSS Queries*/
    body {
      flex-direction: row;        
    }
    #hud{        
        width: calc((100vw - 100vh)/2);
    }
} 

@media only screen and (orientation: portrait) {
    body{        
        flex-direction: column;
    }
    #hud{
        height: calc((100vh - 100vw)/2);        
    }
}

