body{
    margin: 0;
    background-color: rgb(2, 2, 2);
    display:flex;/*modulos para o HUD, botões e o da cena do jogo*/
    justify-content: space-between;    
    flex-direction: column;
}
@media only screen and (orientation: landscape) { /* CSS Queries*/
    body {
      flex-direction: row; /*tela paisagem  */   
    }
} 

#screen {
    border: 1px solid rgb(141, 255, 75);
    box-sizing: border-box;/*resolveu o problema do canvas para cobrir a tela toda*/
    /*display:flex;*/
    width: 100vw;
    max-width: 100vh;
    max-height: 100vw;/*vh*/
   /* position:absolute;*/
    background-color: rgb(0, 0, 0);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
                    
}
#hud{
   /* position:absolute;
    left: 10px;
    top: 10px;*/
    color: rgb(141, 255, 75);
    font-family: "Lucida Console", "Courier New", monospace;
}

